.env
.venv
.idea
settings_local.py
settings_prod*
settings_stage*
*.pyc
build
tmp
docs
static/*
media
output
*~
*.log
connectum_cert_prod.pem
connectum_key_prod.pem
package/debian/var/
package/*.deb
package/debian/DEBIAN/control
.DS_Store
*.egg-info
*.sqlite3
celerybeat*
package-lock.json
